.introduction-area {
  flex: 1;
  margin: 30px;
  padding: 20px;
  text-align: center;
}

.introduction-area__headline {
  font-family: libel-suit;  
  font-size: 2em;
}

.introduction-area__body {
  font-size: 1.2em;
  text-align: left;
  font-family: fresca-regular;  
  text-indent: 30px;
}

