.new-tale-form {
  text-align: center;
}

.new-tale-form__input-area {
  text-align: center;
  display: inline-block;
  width: 500px;
}

.new-tale-form__input-area__input {
  display: inline-block;
  padding: 5px;
  border: 2px solid black;
  border-radius: 8px;
}
